.list-of-countries {
    border: 6px solid yellow;
    width: 25%;
    height: 100vh;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.country-from-list {
    cursor: pointer;
    margin: 10px 0;
}
.country-from-list:hover {
    text-decoration: underline;
}